<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Protech</title>
    <link rel="icon" href="/resources/imgs/logo-white.ico">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-cont">
        <a href="/" class="navbar-brand">
            <img src="resources/imgs/Protech-logo-white.png" alt="Protech">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/Estadisticas" class="nav-link">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a href="/usuarios" class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
                <a href="aboutUs" class="nav-link">Acerca de</a>
            </li>
        </ul>
        <a href="logout" class="btn btn-danger logoutAggP">Cerrar sesión</a>
    </div>
</nav>

<div class="contenedorAlt">
    <div id="aboutUsText">
        <h1>Acerca de Nosotros</h1>
        <p>La aplicación "Initial Inventory" hace parte de un ejercicio académico en el programa Técnico en Programación de Software,
            en convenio Institución Universitaria Salazar y Herrera - SENA, 2021.
            Los derechos de uso y ejecución están sujetos a Licencia Creative Commons, o derechos reservados de autor según sea el caso (consulte <span><a
                        href="https://co.creativecommons.net" target="_blank">co.creativecommons.org</a></span>)</p>
        <h2>Autores</h2>
        <div class="autors">
            <div>
                <img src="resources/imgs/JJ.png" alt="Juan José">
                <p>Juan José Salazar Cardona</p>
            </div>
            <div>
                <img src="resources/imgs/felipe.png" alt="Juan Felipe">
                <p>Juan Felipe Correa Ríos</p>
            </div>
            <div>
                <img src="resources/imgs/jseb.png" alt="Juan Sebastián">
                <p>Juan Sebastián Jimenez</p>
            </div>
            <div>
                <img src="resources/imgs/Diego.png" alt="Diego Kepler">
                <p>Diego Kepler Zuescún</p>
            </div>
        </div>
    </div>
   </div>
</body>
</html>
