<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body class="login">
<div class="content">
    <nav>
        <img src="/resources/imgs/Logo-protech.png" alt="">
    </nav>
    <div class="form-content">
        <div id="container">
            <div class="logo-login">
                <img src="/resources/imgs/Logo-protech.png" alt="">
            </div>
            <div class="login-form-add">
                <section id="login-form">
                    <header>Ingreso</header>
                    <form>
                        <div>
                            <label for="usuario">Usuario:</label>
                            <input id="usuario" type="text">
                        </div>
                        <div>
                            <label for="pass-log">Contraseña:</label>
                            <input id="pass-log" type="password">
                        </div>
                        <div>
                            <a href="passwordRecup.html">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div>
                            <input id="btnIngresar" type="submit" value="Ingresar">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>
