<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/fontawesome-free-5.15.3-web">
    <link rel="stylesheet" href="../resources/css/styles.css">
</head>
<body class="register">
<div class="content">
    <nav>
        <img src="/resources/imgs/Logo-protech.png" alt="Protech">
    </nav>
    <div class="form-content">
        <section id="register-form">
            <header>Registro</header>
            <form action="/register" method="POST">
                <div class="row">
                    <label>Nombre:</label>
                    <label>Apellido:</label>
                </div>
                <div class="row">
                    <input name="nombre" type="text" placeholder="ej: Juan Manuel">
                    <input name="apellido" type="text" placeholder="ej: Rojas Arteaga">
                </div>
                <div class="row">
                    <label>Cargo:</label>
                    <label>Teléfono:</label>
                </div>
                <div class="row">
                    <select>
                        <option>Técnico</option>
                        <option>Administrativo</option>
                    </select>
                    <input name="telefono" type="text" placeholder="ej: 3106451515">
                </div>
                <div class="row">
                    <label>Email:</label>
                    <label>Usuario:</label>
                </div>
                <div class="row">
                    <input type="text" placeholder="ej: example@protech.com">
                    <input type="text" placeholder="ej: JoseAr">
                </div>
                <div class="row passwords">
                    <label>Contraseña:</label>
                    <input type="password" id="pass-user">
                    <label>Verifique su contraseña:</label>
                    <input type="password" id="pass-verif">
                </div>
                <div id="ingresar-div">
                    <input type="submit" value="Registrarse" name="registrarse">
                </div>

            </form>
        </section>
    </div>


</div>


</body>
</html>
